const Sequelize = require('sequelize')

const connection = new Sequelize('<Tabela>', '<Usuário>', '<Senha>', {
    host:'<Host>',
    dialect:'mysql',
    timezone: '-03:00'
})

module.exports = connection